.contents {
  width: 800px;
  padding: 2rem 4rem;
  background-color: var(--primary-color);
}

.contents > h3 {
  margin-top: 2rem;
}

.contents > h4 {
  margin-top: 1rem;
}

.contents > p {
  margin-top: 0.5rem;
  line-height: 1.75;
}

.video_wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
  margin-top: 2rem;
}

.button {
  padding: 0.5rem 1rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
}
