.page {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  background-color: var(--primary-color);
}

.wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  background-color: var(--primary-color);
}

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  justify-content: center;
  background-color: var(--secondary-color);
}

.sidebar {
  background-color: var(--ternary-color);
}

.contents {
  width: 800px;
  padding: 2rem 4rem;
  background-color: var(--primary-color);
}
